<!-- (Ju) Returns search results depending on the type of search methods (by keyword, by location, by type)-->
<h1 style="text-align:center">Search Results:</h1>
<div>
   <table id="tableid1" class="table table-hover">
   <thead>
   <tr>
{{#if results}}
   <th>Charity by Keyword</th>
   </tr></thead>
   <tbody>
  {{#each results}}
    <tr id="{{this.ein}}"><td><a id="anchor" href="http://flip3.engr.oregonstate.edu:3636/charityinfo?charityName={{this.charityName}}">
		<strong>{{this.charityName}}</strong></a></td></tr>
  	<tr><td><a href="{{this.websiteURL}}" style="color:green;">{{this.websiteURL}}</td></tr>
  	<tr><td>{{this.tagLine}}</td></tr>
  	<tr><td></td></tr>
  {{/each}}
{{/if}}

{{#unless results}}
<h1 style="text-align:center">No results found, please modify your search. </h1>
{{/unless}}

{{#if location}}
	<th>Charity by Location</th>
	</tr></thead>
 	<tbody>
  {{#each location}}
  	<tr id="{{this.ein}}"><td><a id="anchor" href="http://flip3.engr.oregonstate.edu:3636/charityinfo?charityName={{this.charityName}}">
		<strong>{{this.charityName}}</strong></a></td></tr>
  	<tr><td><a href="{{this.websiteURL}}" style="color:green;">{{this.websiteURL}}</td></tr>
  	<tr><td>{{this.tagLine}}</td></tr>
  	<tr><td></td></tr>
  {{/each}}
{{/if}}

{{#if type}}
	<th>Charity by type</th>
 	</tr></thead>
 	<tbody>
 {{#each type}}
  	<tr id="{{this.ein}}"><td><a id="anchor" href="http://flip3.engr.oregonstate.edu:3636/charityinfo?charityName={{this.charityName}}">
		<strong>{{this.charityName}}</strong></a></td></tr>
  	<tr><td><a href="{{this.websiteURL}}" style="color:green;">{{this.websiteURL}}</td></tr>
  	<tr><td>{{this.tagLine}}</td></tr>
  	<tr><td></td></tr>
  {{/each}}
{{/if}}
  </tbody>
 </table>
</div>

<center> <input type="button" value="Edit Search" onclick="history.back(-1)" /> </center>

<!-- Cody's code
<div>
 <table id="tableid">
 <thead>
  <tr>
   <th>Charity Name</th>
  </tr>
 </thead>
 <tbody>
  {{#each results}}
  <tr id="{{this.ein}}">
   <td><a href="{{this.websiteURL}}">{{this.charityName}}</a></td>
  </tr>
  {{/each}}
  </tbody>
 </table>
</div>
-->

<!-- Testing code
<div>
 <table id="tableid">
 <thead>
  <tr>
   <th>Charity Name</th>
   <th>Website</th>
  </tr>
 </thead>
 <tbody>
  {{#each results}}
  <tr id="{{this.ein}}">
   <td>{{this.charityName}}</td>
   <td>{{this.websiteURL}}</td>
  </tr>
  {{/each}}
  </tbody>
 </table>
</div>
-->

<!-- Original code from James
<div>
{{body}}
</div>
-->
